Client/Service References/ServiceReference1/FileDownloadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.acme.it/2009/04" elementFormDefault="qualified" targetNamespace="http://schemas.acme.it/2009/04" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61431/WcfWebSite/FileDownloadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contract" />
  <xs:complexType name="FileMetaData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contract" name="FileType" nillable="true" type="q1:FileTypeEnum" />
      <xs:element name="FileName" nillable="true" type="xs:string" />
      <xs:element name="RemoteFilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMetaData" nillable="true" type="tns:FileMetaData" />
</xs:schema>