Client/Service References/ServiceReference1/FileDownloadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileDownloadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IFileDownloadService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61431/WcfWebSite/FileDownloadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61431/WcfWebSite/FileDownloadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61431/WcfWebSite/FileDownloadService.svc?xsd=xsd2" namespace="http://schemas.acme.it/2009/04" />
      <xsd:import schemaLocation="http://localhost:61431/WcfWebSite/FileDownloadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contract" />
      <xsd:import schemaLocation="http://localhost:61431/WcfWebSite/FileDownloadService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileDownloadMessage">
    <wsdl:part name="parameters" element="tns:FileDownloadMessage" />
  </wsdl:message>
  <wsdl:message name="FileDownloadMessage_Headers">
    <wsdl:part name="FileMetaData" element="tns:FileMetaData" />
  </wsdl:message>
  <wsdl:message name="FileDownloadReturnMessage">
    <wsdl:part name="parameters" element="tns:FileDownloadReturnMessage" />
  </wsdl:message>
  <wsdl:message name="FileDownloadReturnMessage_Headers">
    <wsdl:part name="DownloadedFileMetadata" element="tns:DownloadedFileMetadata" />
  </wsdl:message>
  <wsdl:portType name="IFileDownloadService">
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileDownloadService/DownloadFile" name="FileDownloadMessage" message="tns:FileDownloadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileDownloadService/DownloadFileResponse" name="FileDownloadReturnMessage" message="tns:FileDownloadReturnMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileDownloadService" type="tns:IFileDownloadService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IFileDownloadService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IFileDownloadService/DownloadFile" style="document" />
      <wsdl:input name="FileDownloadMessage">
        <soap:header message="tns:FileDownloadMessage_Headers" part="FileMetaData" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileDownloadReturnMessage">
        <soap:header message="tns:FileDownloadReturnMessage_Headers" part="DownloadedFileMetadata" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileDownloadService">
    <wsdl:port name="BasicHttpBinding_IFileDownloadService" binding="tns:BasicHttpBinding_IFileDownloadService">
      <soap:address location="http://localhost:61431/WcfWebSite/FileDownloadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>